@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-black text-white px-4 py-1.5 rounded-lg font-medium inline-flex items-center justify-center transition-colors duration-200;
    }

    .btn-primary {
        @apply bg-black text-white hover:bg-gray-800;
    }

    .btn-secondary {
        @apply bg-white text-black border border-black hover:bg-gray-100;
    }

    .btn-text {
        @apply text-black bg-white hover:bg-gray-100;
    }

    .tag {
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
    }

    .section-title {
        @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold;
    }

    .section-description {
        @apply text-center text-[18px] leading-[30px] text-gray-400;
    }

    .section-heading {
        @apply max-w-[540px] mx-auto;
    }

    .card {
        @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-lg w-full;
    }
}

@keyframes custom-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-custom-pulse {
    animation: custom-pulse 2.5s infinite;
}

html,
body {
    height: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}
